@font-face {
    font-family: "UniversLTStd";
    src: url("../assets/fonts/UniversLTStd.otf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    background: #111;
    color: white;
    font-family: 'UniversLTStd';
}

h1,
h2 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loader-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-family: 'Gotham Black';
        text-transform: uppercase;
    }

    h2 {
        font-family: 'UniversLTStd';
        font-size: small;
    }
}

@import './StyledNavbar.scss';
@import './StyledHome.scss';
@import './StyledFooter.scss';
@import './StyledCursor.scss';